* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
}

.movieContainer select {
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 10px;
}

.row {
    display: flex;
    gap: 5px;
}

.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-last-of-type(2) {
    margin-left: 20px;
}

.showCase {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showCase li {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.showCase li small {
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen {
    height: 70px;
    width: 300px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.183);
    margin-bottom: 20px;
    border-radius: 5px;
}

.seat.Occupied {
    background-color: #fff;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat {
    height: 20px;
    width: 15px;
    background-color: rgba(0, 0, 0, 0.167);
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}